<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Папка, в которой хранится база данных-->
		<add key="MsDbFolder" value="DataBase"/>
		
		<!--Имя используемой базы данных-->
		<add key="MsDbConfig" value="MemoRandomDb.mdf"/>

		<!--Папка, в которой хранятся изображения-->
		<add key="ImagePathConfig" value="Images"/>
		
		
		
		
		<!--XML-файл хранения причин смерти-->
		<add key="ReasonsFile" value="data\reasons.xml"/>
		
		<!--XML-файл хранения категорий возрастов-->
		<add key="CategoriesFile" value="data\categories.xml"/>
		
		<!--XML-файл хранения людей для сравнения-->
		<add key="ComparedHumansFile" value="data\comparedhumans.xml"/>
		
		<!--XML-файл хранения списка людей-->
		<add key="HumansFile" value="data\humans.xml"/>
	</appSettings>
</configuration>