<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="MsDbConfig" value="MemoDb.mdf"/>-->
		<!--Папка, в которой хранится база данных-->
		<add key="MsDbFolder" value="DataBase"/>
		
		<!--Имя используемой базы данных-->
		<add key="MsDbConfig" value="MemoRandomDb.mdf"/>

		<!--Папка, в которой хранятся изображения-->
		<add key="ImagePathConfig" value="Images"/>
	</appSettings>
</configuration>