<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--XML-файл хранения причин смерти-->
		<add key="DefaultReasonsFile" value="reasons.xml"/>
		<add key="ReasonsFile" value="reasons.xml"/>
		
		<!--XML-файл хранения категорий возрастов-->
		<add key="DefaultCategoriesFile" value="categories.xml"/>
		<add key="CategoriesFile" value="categories.xml"/>
		
		<!--XML-файл хранения людей для сравнения-->
		<add key="DefaultComparedHumansFile" value="defaultcomparedhumans.xml"/>
		<add key="ComparedHumansFile" value="comparedhumans.xml"/>
		
		<!--XML-файл хранения списка людей-->
		<add key="DefaultHumansFile" value="humans.xml"/>
		<add key="HumansFile" value="humans.xml"/>
	</appSettings>
</configuration>